@import "variables";

.pokemon {
    display: relative;
}

.main-display {
    width: 92.5%;
    margin: 0 auto;
    margin-top: 15rem;
    // border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-row-gap: 1.5rem;
    justify-items: center;

    @include respond(laptop-1) {
        grid-template-columns: repeat(6, auto);
        width: 100%;
    }
    @include respond(laptop-2) {
        margin-top: 12.5rem;
        grid-template-columns: repeat(5, auto);
    }
    @include respond(tablet-1) {
        grid-template-columns: repeat(3, auto);
    }

    &__pokecard {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 15rem;
        height: 23.5rem;

        @include respond(laptop-2) {
            width: 16.5rem;
            height: 25.85rem;
        }
        @include respond(tablet-1) { //for tablet-1, all size values are 1.3 scale
            width: 19.5rem;
            height: 30.55rem;
        }

        border-radius: 3px;
        box-shadow: -2px 2px 6px rgba($color-text-gray-dark, 0.6);
        font-family: $font-primary;
        color: $color-text-gray-dark;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        transition: all 450ms;

        &:hover {
            transform: scale(1.05);
            box-shadow: -1px 4px 8px rgba($color-text-gray-dark, 0.5);

            transition: all 225ms;
        }

        &__info {
            display: flex;
            flex-direction: row;
            margin: 0.4rem 0.55rem;

            &--types {
                width: 60%;

                &:first-child {
                    margin-right: 0.8rem;
                }
            }

            &--number {
                font-size: 2.75rem;
                @include respond (tablet-1) { font-size: 3.575rem; }
                text-align: right;
                width: 40%;
            }
        }

        &--sprite {
            width: 100%;
        }

        &--name {
            font-size: 2rem;
            @include respond (tablet-1) {
                font-size: 2.6rem;
                letter-spacing: 0.2rem;
            }
            margin: 0 auto;
            text-align: center;
            margin-top: 0.5rem;
            text-transform: capitalize;
        }
    }
}

.pokecard--mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    &:hover {
        cursor: pointer;
    }
}

.full-card-blur {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);

    z-index: 400;
}

