@import "variables";

.pokecard-full__detailed-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;

    @include respond(laptop-1) { width: 33% };
    @include respond(laptop-2) { width: 30% };
    @include respond(tablet-1) {
        width: 100%;
        height: 40%;
    }
    @include respond(phone-1) {
        height: 45%;
    }
}

.info-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

    cursor: default;

    &--current-label {
        padding: 0rem 1rem;
        font-size: 2rem;
        @include respond(tablet-1) {
            font-size: 2.75rem;
        }
    }

    &--switch--label {
        cursor: pointer;
        text-indent: -9999px;
        width: 10rem; //everything must be 50% of this
        height: 3rem;
        background-color: rgba($color-background-gray-2, 0.4);
        display: block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0.15rem;
            left: 0.15rem;
            width: 2.7rem;
            height: 2.7rem;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s ease-out;
        }
    }

    &--switch {
        height: 0;
        width: 0;
        visibility: hidden;

        &:checked + label {
            background-color: rgba($color-background-gray-2, 0.4);
        }

        &:checked + label:after {
            left: calc(100% - 0.25rem);
            transform: translateX(-100%);
        }

        &:active:after {
            width: 6.5rem;
        }
    }
}

.stat-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding-bottom: 5rem;

    @include respond(tablet-1) {
        padding-bottom: 2rem;
    }
}

.stat {
    display: flex;
    flex-direction: row;
    font-family: $font-primary;

    cursor: default;

    &--label {
        width: 20%;
        margin-left: 0.75rem;
        font-size: 1.5rem;
        @include respond(tablet-1) {
            font-size: 1.8rem;
        }
        @include respond(phone-1) {
            font-size: 2.2rem;
        }
    }

    &__container {
        width: 70%;
        height: 2.2rem;
        border-radius: 8px;
        overflow: hidden;

        @include respond(tablet-1) {
            width: 80%;
            height: 2.5rem;
            margin-left: 1rem;
        }
        @include respond(phone-1) {
            height: 3rem;
        }

        &--stat {
            height: 2rem;

            @include respond(phone-1) {
                height: 3rem;
            }

            animation: statLoad 400ms ease-out;

            &--value {
                display: block;
                text-align: right;
                font-size: 1.5rem;
                margin-right: 0.5rem;

                @include respond(tablet-1) {
                    font-size: 1.8rem;
                }
                @include respond(phone-1) {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

.move-display {
    display: none;
    flex-direction: column;
    height: 75%;
    width: 95%;
    padding: 1rem 0;
    overflow-y: scroll;
    font-family: $font-primary;
    
    @include respond(tablet-1) {
        width: 100%;
    }

    &__custom-select {
        display: block;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 1rem;

        &:hover {
            filter: blur(0.2px) contrast(130%);
        }

        &--gens {
            appearance: none;
            width: 100%; 
            height: 100%;
            outline: 0; 
            font-size: 2rem;
            font-family: $font-primary;
            font-weight: 700;
            letter-spacing: 0.1rem;
            padding: 0.75rem 3rem;
            border-radius: 20px;
            background-image: none;

            @include respond (tablet-1) {
                font-size: 2.6rem;
            }

            cursor: pointer;
        }
    }

    select > option {
        background: $color-background-gray-2;
    }

    &--title {
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &--section {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 1rem;
        justify-items: center;
        margin-bottom: 2rem;

        @include respond(laptop-2) {
            grid-template-columns: repeat(2, auto);
        }
        @include respond(tablet-1) {
            grid-template-columns: repeat(4, auto);
        }
        @include respond(phone-1) {
            grid-template-columns: repeat(3, auto);
        }
    }
}

.move {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 6rem;
    min-height: 6rem;
    text-transform: capitalize;
    border-radius: 12px;
    overflow: hidden;

    @include respond(tablet-1) {
        max-width: 14rem;
        min-width: 14rem;
        max-height: 8rem;
        min-height: 8rem;
    }
    @include respond(phone-1) {
        max-width: 17.5rem;
        min-width: 17.5rem;
        max-height: 10rem;
        min-height: 10rem;
    }

    cursor: pointer;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: 92%;
        font-size: 1.2rem;
        @include respond(tablet-1) {
            font-size: 1.75rem;
        }
        @include respond(phone-1) {
            font-size: 2.2rem;
        }

        &--learn-lvl {
            display: inline-block;
        }

        &--learn-method {
            display: inline-block;
        }

        &--pp {
            display: inline-block;
        }

        &--category {
            display: inline-block;
        }
    }

    &--name {
        font-size: 1.75rem;
        @include respond(tablet-1) {
            font-size: 2.3rem;
        }
        @include respond(phone-1) {
            font-size: 2.8rem;
        }
        text-align: center;
        margin: 0 auto;
    }
}

@keyframes statLoad {
    0% {
        width: 0%;
    }
    100% {
        transform: translate(0);
    }
}