//fonts

$font-primary: 'PT Sans Narrow', sans-serif;

//colors general

$color-text-gray-dark: #2F4F4F;
$color-text-gray-light: #DCDCDC; //this one looks real nice
$color-background-gray-1: #A9A9A9;
$color-background-gray-2: #708090;

//colors type

$color-fire: #EE8130;
$color-water: #6390F0;
$color-electric: #F7D02C;
$color-grass: #7AC74C;
$color-ice: #96D9D6;
$color-fighting: #C22E28;
$color-poison: #A33EA1;
$color-ground: #E2BF65;
$color-flying: #A98FF3;
$color-psychic: #F95587;
$color-bug: #A6B91A;
$color-rock: #B6A136;
$color-ghost: #735797;
$color-dragon: #6F35FC;
$color-dark: #705746;
$color-steel: #B7B7CE;
$color-fairy: #D685AD;

//media queries

@mixin respond($breakpoint) {
    @if $breakpoint == phone-2 {
        @media (max-width: 26.25em) { @content }; //420px
    }
    @if $breakpoint == phone-1 {
        @media (max-width: 29.6875em) { @content }; //475px
    }
    @if $breakpoint == tablet-3 {
        @media (max-width: 32.5em) { @content }; //520px
    }
    @if $breakpoint == tablet-2 {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tablet-1 {
        @media (max-width: 51.875em) { @content }; //830px
    }
    @if $breakpoint == laptop-2 {
        @media (max-width: 60.9375em) { @content }; //975px
    }
	@if $breakpoint == laptop-1 {
		@media (max-width: 71.875em) { @content }; //1150px
    }
}