@import "variables";

.welcome-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    border: 3px solid $color-text-gray-dark;
    border-radius: 20px;
    background-color: $color-text-gray-light;
    color: $color-text-gray-dark;
    overflow-y: scroll;

    @include respond(tablet-1) {
        width: 85%;
        height: 92.5%;
    }
    @include respond(tablet-2) {
        width: 90%;
        height: 95%;
    }

    animation: dropIn 1000ms ease-out;

    z-index: 1000;

    &--title {
        font-size: 6rem;
        letter-spacing: 0.3rem;
        text-align: center;
        border-bottom: 2px solid $color-text-gray-dark;
        width: 80%;
        margin: 0 auto;

        @include respond(tablet-3) {
            width: 90%;
            font-size: 5.5rem;
        }
        @include respond(phone-1) {
            margin-top: 1.2rem;
        }
    }

    &--paragraph {
        margin: 2rem 3rem;
        font-size: 2.2rem;
        text-align: center;

        @include respond(phone-1) {
            margin: 2rem 4rem;
        }
    }

    &--instruction-title {
        margin: 0 auto;
        width: 40%;
        border-bottom: 2px solid $color-text-gray-dark;
        font-size: 3.5rem;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.2rem;

        @include respond(phone-1) {
            margin-bottom: 0.6rem;
        }
    }

    &__instruction-list {
        margin: 0 auto;
        margin-top: 2rem;
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 2rem;
        font-size: 2rem;

        @include respond(tablet-1) {
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }

    &__btn {
        margin: 0 auto;
        margin-bottom: 3rem;
        margin-top: 0.5rem;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 3.5rem;
        display: inline-block;
        border-radius: 20px;
        transition: all 200ms;
        position: relative;
        background-color: $color-background-gray-2;
        color: $color-text-gray-light;

        @include respond(phone-1) {
            margin-top: 2.2rem;
            margin-bottom: 1.5rem;
            font-size: 2.7rem;
        }

        transition: all 300ms;

        &:hover {
            cursor: pointer;
            color: $color-text-gray-dark;
            transform: translateY(-3px);
            box-shadow: 0 2rem 2rem rgba($color-text-gray-dark, .2);
    
        }
        &:active,
        &:focus {
            outline: none;
            color: $color-text-gray-light;
            background: $color-text-gray-dark;
            transform: translateY(-1px);
            box-shadow: 0 0.8rem 1rem rgba($color-text-gray-dark, .2);
        }
    }
}

.welcome-blur {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);

    z-index: 800;
}

@keyframes dropIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}